/* backdrop + modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    visibility: visible;

    transition: opacity $duration $cubic-bezier,
        visibility $duration $cubic-bezier;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 528px;
    min-height: 581px;

    background: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* modal form */
.modal-form {
    display: flex;
    flex-direction: column;
    padding: 33px 40px 47px;
}

.modal-form__title {
    margin-bottom: 12px;

    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;

    color: $title-text-color;
}

.modal-form__label {
    display: flex;
    flex-direction: column;

    cursor: pointer;
}

.modal-form__text {
    margin-bottom: 4px;
}

.modal-form__textarea-input{
    &::placeholder {
        color: $placeholder-text-color;
    }
}

.modal-form__text,
.modal-form__textarea-input::placeholder {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
}

.modal-form__label--posision {
    position: relative;

    margin-bottom: 10px;
}

.modal-form__icon {
    position: absolute;
    left: 12px;
    bottom: 11px;
}

.modal-form__label{
    &:hover .modal-form__icon, &:focus-within .modal-form__icon{
        fill: $accent-color;
    }
}


.modal-form__input {
    height: 40px;
    padding-left: 42px;
}

.modal-form__label--margin {
    margin-bottom: 20px;
}

.modal-form__textarea-input {
    padding: 12px 16px;
    height: 120px;

    resize: none;
}

.modal-form__input,
.modal-form__textarea-input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    cursor: pointer;
}

.modal-form__checkbox-label {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: auto;
    margin-right: auto;

    margin-bottom: 30px;
}

.modal-form__checkbox-input {
    cursor: pointer;

    appearance: none;
    position: absolute;
}

.modal-form__checkbox-text{
    line-height: calc(24 / 14);

    padding-left: 23px;
}

.modal-form__checkbox-link {
    color: $accent-color;
}

.modal-form__checkbox-input {
    content: '';
    display: inline-block;
    width: 16px;
    height: 15px;
    background-image: url(../../images/checkbox-off.svg);

    &:checked{
        background-image: url(../../images/checkbox-on.svg);
    }
}